@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Share+Tech+Mono&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: 'Montserrat';
  background-color: rgb(239, 238, 238);
}

h1 {
  width: 100vw;

  margin-top: auto;
  margin-bottom: 45px;
  padding: 5px;
  
  font-size: 35px;

  color: rgb(239, 238, 238);
  background-color: #2a9d8f;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: inherit;
}

form, .data { 
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}

form {
  font-size: 24px;
}

.form-row {
  margin: 5px;
  padding: 10px;
}

label {
  display: inline-block;
  width: 190px;
  text-align: right;
}

input {
  display: inline-block;
  width: 195px;
  padding: 5px;

  font-size: 24px;
  border: none;
  background-color: rgb(239, 238, 238);
}

#down-payment {
  width: 125px;
}

#percent-down {
  width: 55px;
}

@media only screen and (max-width: 992px) {
  h1, .data {
    margin-bottom: 20px;
  }

  main {
    flex-direction: column-reverse;
    align-items: center;
  }
  
  form, .data {
    width: 438px;
  }

  .data {
    margin-bottom: 45px;
  }
}
