body {
  padding: 0;
  margin: 0;
}

main {
  font-family: 'Courier New', Courier, monospace;
}

h1 {
  margin: 15px;
}

.form-row {
  padding: 15px;
}

label {
  display: inline-block;
  font-size: 18px;
  width: 130px;
  text-align: right;
}

input {
  padding: 5px;
}

#submit {
  width: 280px;
  padding: 5px;
}

#reset {
  width: 90px;
}
